
{% extends 'blog/base.html' %}
{% load static %}
{% block title %}联系我们{% endblock %}
{% block css %}
    <link href="{% static 'blog/css/contact.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'blog/images/tubiao.ico' %}" type="image/x-icon"/>
{% endblock %}
{% block content %}
    <div class="container text-center" style="min-height:600px;">

    <header style="height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;">
	<h1 style="font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;
    margin-top: 81px;">Contact us</h1>
    </header>

<div id="form">

<div class="fish" id="fish" ></div>
<div class="fish" id="fish2"></div>

<form id="waterform" method="post" style="margin-top: -40px;">

<div class="formgroup" id="name-form">
    <label for="name" style="margin-left: -240px">客服QQ*</label>
    <input type="text" id="name" name="name" value="3064349253" disabled style="background: white;font-size: 20px"/>
</div>

<div class="formgroup" id="email-form">
    <label for="email" style="margin-left: -240px">e-mail*</label>
    <input type="email" id="email" name="email" value="3064349253@qq.com" disabled style="background: white;font-size: 20px"/>
</div>

<div class="formgroup" id="message-form" style="margin-bottom: 100px;">
    <label for="message" style="margin-left: -240px">说明</label>
    <textarea id="message" name="message" disabled style="background: white;font-size: 20px">网站所有资源都具有很好的实用性和学习型，希望在这里所获得的每一步资源都能帮助到您！！！</textarea>
</div>

{#	<input type="submit" value="Send your message!" />#}
</form>
</div>

    </div>
{% endblock %}

